.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    text-align: center;
    background-color: #006abc;
    border-radius: 6px;
    padding: 1rem 4rem 1rem 4rem;
    box-shadow: 0 0.1rem 0.5rem #003964;
}

nav a { 
    text-decoration: none;
    text-transform: none; 
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

h1 {
    align-self: center;
}

button {
    border-radius: 10px;
    background-color: #006abc; 
    color: white;
    padding: 0.5rem;
}